@model List<ENTIDAD.ReporteE>

@{
    ViewBag.Title = "ListadoReporteClientes";
    Layout = "~/Views/Layout/_LayoutMenu.cshtml";
}

<h2>Listado de Reporte Clientes</h2>

<table border="1">
    <tr>
        <th>ID_REPORTE</th>
        <th>ID_CLIENTE</th>
        <th>DOCUMENTO CLIENTE</th>
        <th>NUMERO CUENTA</th>
        <th>SALDO</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id_Reporte</td>
            <td>@item.clienteE.Id_Cliente</td>
            <td>@item.clienteE.Documento</td>
            <td>@item.clienteE.Num_Cuenta</td>
            <td>@item.SaldoActual</td>
            @*<td>@Html.ActionLink("ACTUALIZAR CLIENTE", "EditarCliente", new { Id_Cliente = item.Id_Cliente })</td>
                <td>@Html.ActionLink("ELIMINAR CLIENTE", "EliminarCliente", new { Id_Cliente = item.Id_Cliente })</td>*@

        </tr>
    }
</table>

